<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina principal</title>
    <link rel="icon" type="imagen/png" href="img/logoSenaVerde.png"> <!-- icono en el titulo -->
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="fontawesome-free-5.15.4-web/css/all.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800&display=swap" rel="stylesheet"> 
    
    
</head>
<body>
  <header>
    <nav>
        <a href="/">Inicio</a>
        <a href="#UnudadProductiva">Unidades productivas</a>
        <a href="/login">Iniciar sesion</a>
      
        
        
    </nav>
    <section class="textos-header">
        <h1>Disfruta de una mejor comodidad</h1>
        <h2>Con nuestra nueva plataforma de Unidades productivas</h2>
    </section>
    <div class="wave" style="height: 150px; overflow: hidden;"><svg viewBox="0 0 500 150" preserveAspectRatio="none"
            style="height: 100%; width: 100%;">
            <path d="M0.00,49.98 C150.00,150.00 349.20,-50.00 500.00,49.98 L500.00,150.00 L0.00,150.00 Z"
                style="stroke: none; fill: #fff;"></path>
        </svg></div>
</header>
   
       <!-- contenedor -->
        <div class="container">
          <!-- ariculo -->
          <div class="box1">
            <h1 class="titulo">Bienvenido al portal de SENA empresa... </h1>
            <!-- <img class="logoVerde" src="img/logoSenaVerde.png" alt=""> -->
            <img class="logoVerde" src="img/centro_user2.png" alt="">
          </div>

          <div class="box2">
            <h2 id="UnudadProductiva">Unidades productivas</h2>
            <!-- mini cajas con logos -->
            <div class="minibox1">
              <p>Registrarse</p>
              <a href="#">
                <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="book" class="svg-inline--fa unidadlogo fa-book" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M448 336v-288C448 21.49 426.5 0 400 0H96C42.98 0 0 42.98 0 96v320c0 53.02 42.98 96 96 96h320c17.67 0 32-14.33 32-31.1c0-11.72-6.607-21.52-16-27.1v-81.36C441.8 362.8 448 350.2 448 336zM143.1 128h192C344.8 128 352 135.2 352 144C352 152.8 344.8 160 336 160H143.1C135.2 160 128 152.8 128 144C128 135.2 135.2 128 143.1 128zM143.1 192h192C344.8 192 352 199.2 352 208C352 216.8 344.8 224 336 224H143.1C135.2 224 128 216.8 128 208C128 199.2 135.2 192 143.1 192zM384 448H96c-17.67 0-32-14.33-32-32c0-17.67 14.33-32 32-32h288V448z"></path></svg>
              </a>
            </div>
            <div class="minibox2">
              <p>Iniciar sesion</p>
              <a href="/login">
                <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="user" class="svg-inline--fa unidadlogo fa-user" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M224 256c70.7 0 128-57.31 128-128s-57.3-128-128-128C153.3 0 96 57.31 96 128S153.3 256 224 256zM274.7 304H173.3C77.61 304 0 381.6 0 477.3c0 19.14 15.52 34.67 34.66 34.67h378.7C432.5 512 448 496.5 448 477.3C448 381.6 370.4 304 274.7 304z"></path></svg>
              </a>
            </div>
            <div class="minibox3">
              <p>Ingresar como invitado</p>
              <a href="/listarProductos">
                <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="sitemap" class="svg-inline--fa unidadlogos fa-sitemap" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path fill="currentColor" d="M208 80C208 53.49 229.5 32 256 32H320C346.5 32 368 53.49 368 80V144C368 170.5 346.5 192 320 192H312V232H464C494.9 232 520 257.1 520 288V320H528C554.5 320 576 341.5 576 368V432C576 458.5 554.5 480 528 480H464C437.5 480 416 458.5 416 432V368C416 341.5 437.5 320 464 320H472V288C472 283.6 468.4 280 464 280H312V320H320C346.5 320 368 341.5 368 368V432C368 458.5 346.5 480 320 480H256C229.5 480 208 458.5 208 432V368C208 341.5 229.5 320 256 320H264V280H112C107.6 280 104 283.6 104 288V320H112C138.5 320 160 341.5 160 368V432C160 458.5 138.5 480 112 480H48C21.49 480 0 458.5 0 432V368C0 341.5 21.49 320 48 320H56V288C56 257.1 81.07 232 112 232H264V192H256C229.5 192 208 170.5 208 144V80z"></path></svg>
              </a>
            </div>
          </div>

        </div>
      <!-- foderr -->
      <div class="fooder">
        <div class="ladoIzquierdo">
          <p class="fooderP" id="contactenos">¿Necesitas más informacion?</p>
            <div class="container1">
                  <div class="boxico">
                    <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="phone" class="svg-inline--fa movil fa-phone" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M511.2 387l-23.25 100.8c-3.266 14.25-15.79 24.22-30.46 24.22C205.2 512 0 306.8 0 54.5c0-14.66 9.969-27.2 24.22-30.45l100.8-23.25C139.7-2.602 154.7 5.018 160.8 18.92l46.52 108.5c5.438 12.78 1.77 27.67-8.98 36.45L144.5 207.1c33.98 69.22 90.26 125.5 159.5 159.5l44.08-53.8c8.688-10.78 23.69-14.51 36.47-8.975l108.5 46.51C506.1 357.2 514.6 372.4 511.2 387z"></path></svg>
                  </div>
                  <div class="boxtexto">
                    <p class="fooderP">Bogota:</p>
                    <p class="fooderP">Resto del país:</p>
                  </div>
            </div>
          </div>
          <div class="derecho">
            <p class="articulo"><span class="textderecho">Horario de ateción:</span>Lunes a Viernes 7:00 am a 7:00 pm - Sábados 8:00 am a 10:00 pm</p>
          </div>
          
        
      </div>
    
</body>
</html>